<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header::header}">

</head>

<body>


<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>查看歌单</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">CloudSong</a></div>
        <div class="breadcrumb-item">查看歌单</div>
      </div>
    </div>
    <div class="section-body">
      <!--<h2 class="section-title" th:text="'Hi,' +${songlist.user.username}" >Hi, Ujang!</h2>-->

      <div class="row mt-sm-4">
        <div class="col-12 col-md-12 col-lg-9">

        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <form  action="#" method="post" class="needs-validation">
          <div class="card profile-widget">

          <div class="profile-widget-header">
            <!--<img alt="image" th:src="${songlist.user.avatar}" class="rounded-circle profile-widget-picture">-->

            <!--<label for="avatar"></label>-->
            <!--<input type="file" class="form-control" name="avatar"  id="avatar"  >-->
          </div>
          </div>

          <div class="card">
              <div class="card-header">
                <h4>歌单信息</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-md-4 col-12">
                    <!--<label for="id" hidden>id</label>-->
                    <!--<input type="text" hidden class="form-control" name="id"  id="id" th:value="${songlist.id}"  >-->


                  </div>
                  <!--<div class="form-group col-md-6 col-12">-->
                  <!--<label>Last Name</label>-->
                  <!--<input type="text" class="form-control" value="Maman" required="">-->
                  <!--<div class="invalid-feedback">-->
                  <!--Please fill in the last name-->
                  <!--</div>-->
                  <!--</div>-->
                </div>
                <div class="form-group col-md-4 col-12">
                  <label>songListName</label>
                  <input type="text" class="form-control"  id="songListName" disabled="disabled" name="songListName"  th:value="${songlist.songListName}" required="">
                </div>
                <div class="form-group col-md-4 col-12">
                  <label>catalog</label>
                  <input type="text" class="form-control" id="catalog.name" disabled="disabled" name="catalog.name" th:value="${songlist.catalog.name}" required="">
                </div>

                  <div class="form-group col-md-4 col-12">
                    <label>commentSize</label>
                    <input type="text" class="form-control" disabled="disabled" id="commentSize" name="commentSize" th:value="${songlist.commentSize}" >
                  </div>

                  <div class="form-group col-md-4 col-12">
                    <label>favoriteSize</label>
                    <input type="text" class="form-control" disabled="disabled" id="favoriteSize" name="favoriteSize" th:value="${songlist.favoriteSize}" required="">
                  </div>
                <div class="form-group col-md-4 col-12">
                  <label>songSize</label>
                  <input type="text" class="form-control"  disabled="disabled" id="songSize" name="songSize" th:value="${songlist.songSize}" required="">
                </div>
                <div class="form-group col-md-4 col-12">
                <label>readSize</label>
                <input type="text" class="form-control"  disabled="disabled" id="readSize" name="readSize" th:value="${songlist.readSize}" required="">
              </div>

                <div class="row">

                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered table-md">
                        <tr>
                          <th>#</th>
                          <th>歌名</th>
                          <th>专辑名</th>
                          <th>歌手</th>
                          <!--<th>Delete</th>-->
                          <!--<th><a th:href="@{'/insertSong?id=' + ${songlist.id}}" class="badge badge-success">insert</a></th>-->
                        </tr>
                        <tr th:each="song : ${songlist.songs}">
                          <td th:text="${song.id}">1</td>
                          <td th:text="${song.title}"> Irwansyah Saputra</td>
                          <td th:text="${song.album}"></td>
                          <td th:text="${song.songplay}">2017-01-09</td>

                          <!--<td><a href="#" class="btn btn-secondary">Detail</a></td>-->

                          <!--<td><a th:href="@{'/deleteSong?id=' + ${song.id}}" class="badge badge-danger">Delete</a></td>-->

                        </tr>


                      </table>
                    </div>
                  </div>

                  <!--<div class="form-group col-md-5 col-12">-->
                  <!--<label>Phone</label>-->
                  <!--<input type="tel" class="form-control" value="">-->
                  <!--</div>-->
                </div>
                <!--<div class="row">-->
                <!--<div class="form-group col-12">-->
                <!--<label>Bio</label>-->
                <!--<textarea class="form-control summernote-simple">Ujang maman is a superhero name in <b>Indonesia</b>, especially in my family. He is not a fictional character but an original hero in my family, a hero for his children and for his wife. So, I use the name as a user in this template. Not a tribute, I'm just bored with <b>'John Doe'</b>.</textarea>-->
                <!--</div>-->
                <!--</div>-->
                <div class="row">
                  <div class="form-group mb-0 col-12">

                  </div>
                </div>
              </div>
              <div class="card-footer text-right">
                <!--<button class="btn btn-primary">Save Changes</button>-->
              </div>

          </div>
          </form>
        </div>

      </div>
    </div>
  </section>
</div>


<div th:replace="~{fragments/footer::footer}">...</div>
</body>
</html>
     
